
.disactive{
  display: none;
}

.fade{
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #000;
  opacity: .3;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 4em 3em;
  max-height: 90vh;
  max-width: 90vw;
  overflow-y: auto;
}


.formulario{
  width: 20em;
  font-weight: bolder;
  margin-top: 10px;
}

.formulario > label{
  text-align: left;
  display: block;
  margin-bottom: 20px;
}

.formulario > label > input{
  border: 1px solid black;
  width: calc(100% - 22px);
  height: 1.3em;
  padding: 10px;
}

.formulario > button{
  width: 100%;
  height: 3em;
  background-color: aqua;
  border: none
}
.formulario > button:hover{
  background-color: #00fffff8;
}